<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true" scan="true" scanPeriod="30 seconds" packagingData="true">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Level 변경 전파 -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- 로그파일 경로 -->
    <property scope="context" name="LOG_PATH" value="/WAS/spring-boot-java/logs" />

    <!-- 로그 패턴 -->
    <!--<property name="LOG_PATTERN" value="${FILE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } -&#45;&#45; [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>-->
    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} %-5level %-4relative [%thread] %logger{35} [%file:%line] --- %msg%n"/>

    <!-- 파일 패턴 (확장자 제외) -->
    <property name="FILE_PATTERN" value="${LOG_PATH}/today"/>
    <property name="ROLLING_FILE_PATTERN" value="${LOG_PATH}/%d{yyyy-MM-dd}.%i"/>

    <!-- 'FILE' appender -->
    <property name="FILE_FILTER_LEVEL" value="DEBUG" />
    <include resource="io/ssaragi/java/spring/boot/logback/appender/file-appender.xml" />

    <logger name="io.ssaragi.java.spring.boot" level="DEBUG" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <root level="INFO" />

</configuration>
